
.footer-bottom {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 12px 0 6px 0;
  background: #020202;
  font-size: 15px;
  color: #ffffff;
  border-top: 1px solid #1a1a1a;
  margin-top: 18px;
}

@media (max-width: 900px) {

  .footer-bottom {
    font-size: 13px;
  }
}