.password-input-wrapper {
  position: relative;
  margin-bottom: 2.5rem;
}

.password-eye-btn {
  position: absolute;
  top: 3rem;
  right: 0;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  filter: drop-shadow(0 2px 8px #000b);
  z-index: 2;
  transition: color 0.18s, filter 0.18s;
  outline: none;
}

.password-eye-btn:hover {
  color: #8408eb;
  filter: drop-shadow(0 4px 16px #000c);
}