html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  color: #e0e7ef;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: url("/fondo-drekkz2.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: initial;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: transparent;
}
